{%extends "SoundShareCommunityBundle::layout.html.twig" %}

{% block content %}
    <h1>SiteNews</h1>

    <table class="table record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Soundpath</th>
                <td>{{ entity.soundPath }}</td>
            </tr>
            <tr>
                <th>Imagepath</th>
                <td>{{ entity.imagePath }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ entity.summary }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_sitenews') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_sitenews_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
